*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

background:#0d0c18;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}



.contenedor{

width:420px;

}



h2{

text-align:center;

color:#7f7f90;

margin-bottom:20px;

}



.salida{

display:flex;

background:#24232c;

margin-bottom:20px;

}



.salida input{

flex:1;

padding:20px;

background:none;

border:none;

color:white;

font-size:24px;

}



.salida button{

width:70px;

background:none;

border:none;

color:#a4ffaf;

font-size:20px;

cursor:pointer;

}



.panel{

background:#24232c;

padding:25px;

}



.fila{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}



#valor{

color:#a4ffaf;

font-size:28px;

}



input[type=range]{

width:100%;

margin-bottom:25px;

accent-color:#a4ffaf;

}



.checks{

display:flex;

flex-direction:column;

gap:14px;

margin-bottom:25px;

}



.checks label{

display:flex;

gap:10px;

}



.seguridad{

display:flex;

justify-content:space-between;

align-items:center;

background:#18171f;

padding:18px;

margin-bottom:25px;

}



.indicador{

display:flex;

gap:15px;

align-items:center;

}



#nivel{

font-weight:bold;

}



.barras{

display:flex;

gap:6px;

}



.barra{

width:10px;

height:28px;

border:2px solid white;

transition:.3s;

}



.rojo{

background:#ff5555;

border-color:#ff5555;

}



.amarillo{

background:#ffd966;

border-color:#ffd966;

}



.verde{

background:#6eff90;

border-color:#6eff90;

}



#generar{

width:100%;

padding:18px;

background:#a4ffaf;

border:none;

font-weight:bold;

cursor:pointer;

}



#generar:hover{

transform:scale(1.02);

}



.animacion{

transform:scale(1.03);

transition:.2s;

}